# Remove the target-specific generated code from github's linguist stats
android/** linguist-generated
ios/** linguist-generated
linux/** linguist-generated
macos/** linguist-generated
web/** linguist-generated
windows/** linguist-generated
